@font-face {
    font-family: myHelvetica;
    src: url(../Helvetica.ttf);
  }

html {
    height: 100%;
    margin: 0px;
}

body {
    background-color: #e9f8ff;
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    font-size: 3em;
}

input{
    font-size: 1.5em;
}

.screen {
    background-color: #e9f8ff;
    height: 100%;
    width: 100%;
    margin: auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    font-family: myHelvetica;
    font-size-adjust: unset;
}

.header {    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    height: 120px;
    width: 100%;
    border-bottom: 3px solid #ccc;
}
.header img{
    height: 100px;
}
.header span {
    padding: 0 20px 0 20px;
    font-weight: bold;
}
.conversation {
    height: calc(100% - 310px);
    overflow: auto;
    padding: 40px 20px 0 20px;
}
.messages {
    margin-bottom: 2.25em;
}
.messages-received .message {
    float: left;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.messages-received .message:first-child {
    border-top-left-radius: 30px;
}
.messages-received .message:last-child {
    border-bottom-left-radius: 30px;
}
.messages-sent .message {
    float: right;
    background-color: #1998e6;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.messages-sent .message:first-child {
    border-top-right-radius: 30px;
}
.messages-sent .message:last-child {
    border-bottom-right-radius: 30px;
}
.message {
    display: inline-block;
    margin-bottom: 5px;
    clear: both;
    padding: 15px 25px;
    
    border-radius: 30px;
    line-height: 1;
}
.message--emoji {
    background-color: transparent !important;
    font-size: 2em !important;
}
.text-bar {
    height: 100px;
    padding: 10px 20px 10px 20px;
    border-top: 3px solid #ccc;
}
.text-bar-field {
    float: left;
    width: 87%;
    height: 100px;
}
.text-bar-field input {
    width: 100%;
    height: 100%;
    padding: 0 0;
    border: none;
    position: relative;
    vertical-align: middle;
    background-color: #e9f8ff;
}
.text-bar-thumb {
    float: right;
    width: 10%;
    height: 100%;
    padding: 0;
}
.text-bar-thumb:hover {
    opacity: 0.8;
}
.text-bar-thumb .thumb {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.text-bar-thumb .send {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.thumb {
    display: inline-block;
    background-color: transparent !important;
    border: none;
}
.send {
    display: inline-block;
    background-color: transparent !important;
    border: none;
}

.anim-wiggle {
    animation: wiggle 0.2s ease infinite;
}
.anim-wiggle-2 {
    animation: wiggle2 0.2s ease infinite;
}

.thumb-img, .thumb {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/face.png");
}

.send-img, .send {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/send.png");
}



a:link, a:visited, a:active {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.new-message {
    width: 50%;
    display: block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#blank {
    height: 20px;
}
